@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Roboto+Slab');

body{
    font-family: 'Lato', sans-serif;
    background: skyblue;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', serif;
}

.portada {
    background-color: tomato;
    margin-left: 100px;
    margin-right: 100px;
}
.registro{
    background-color: seagreen;

}
